@page "/{username}"
@model ContentTracker.Pages.UserGamesModel
@{
    ViewData["Title"] = @Model.Username + "'s games";
}

<h1>@Model.Username's games</h1>

@if (Model.Games != null && Model.Games.Count > 0)
{
    <div class="row">
        @foreach (var game in Model.Games)
        {
            <div class="poster">
                <img src="@game.Background_image" alt="@game.Name" />
                <div class="details">
                    <h2>@game.Name</h2>
                </div>
            </div>
        }
    </div>
}
